* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
}




h1{

    text-align: center;

}


.nav{

    display: flex;
    background-color: #000;
    background-image: url(/assets/img/img.jpg);
    background-size: cover;

}

.logo{

    width: 250px;
    margin: 15px;
    display: flex;

}

.nav ul{
    
    list-style: none;
    display: flex;
    align-items: center;

}

.nav ul li{

    text-decoration: none;
    padding: 16px;
    font-size: 30px;

}

.nav ul li a{

    text-decoration: none;
    color: #fff;

}




/* Css de index */

.index__grid{
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 250px 1fr 50px;
    grid-template-areas:"nav            nav"
                        "main__index    publicidad" 
                        "footer         footer";  
}

.nav{

    grid-area: nav;
    background-color: ;

}

.main__index{

    grid-area: main__index;
    background-color: darkgreen;

}

.publicidad__index{

    grid-area: publicidad;
    background-color: blueviolet;

}

.footer__index{

    grid-area: footer;
    background-color: crimson;

}








/* Css de tratamientos */
/*
.tratamientos__h2{

    padding: 0px 10%;

}
*/
.div__prp{

    display: grid;

}

.p__prp{

    font-size: 2.2em;
    align-items: flex-end;

}



.imgPrp, .imgPreso, .imgMela{

    height: 28%;
    width: 28%;
    margin: 3% 2%;

}

/* Css de sobreNosotros 


.nosotros{

    display: flex;
}

.nosotros__p{

    font-size: 2em;

}

.imgDoctor{

    margin: 3% .5%;

}
*/

.grid__nosotros{

    display: grid;
    grid-template-columns: ;
    margin: 2%;
    grid-column-gap: 70px;
    grid-row-gap: 50px;

}

.grid__nosotros h2{

    font-size: 40px;
    grid-column: 1 / span 2;

}

.grid__nosotros p{

    font-size: 30px;

}






























/* Css de contacto */

.container{

    display: flex;
    background-color: #9D12AB;

}

.form{

    width: 300px;

}

.form__div{

    padding: 7px 0px;
    margin: 5px;

}

.form__input{

    width: 100%;
    
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

.form__textarea{

    min-height: 130px;
    resize: none;
    width: 100%;
}

.iframe{

    width: 100%;
    height: 53vh;

}



















@media only screen and (max-width: 800px) {

}