* {
    font-family: 'Open Sans', sans-serif;
   
    
}

.header{
   
    display: flex;
    background-image: url(/assets/img/img.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header__logo {

    width: 10%;
    border-radius: 100px;
    
}

.header__nav{
   
    width: 60%;

}

.header__nav__ul{

}

.header__nav--li{

    display: inline-block;
    list-style: none;
    padding: 2%;
    font-size: 20px;
    
}
.header__nav--a {

    color: #FFFFFF;
    text-decoration: none;
}



















@media only screen and (max-width: 800px) {

}