$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($size) {

    @if map-has-key($breakpoints, $size) {

      @media (min-width: #{map-get($breakpoints, $size)}) {

        @content;
          }
      }
    }    

@include breakpoint(lg) {
    
      .footer__contact{
        a{
          padding: 0 3%;
        } 
      }
  }


@include breakpoint(xl) {

    .container {

        width: 50%;
    }

    .footer__contact{
    
        p{
          margin: .5%;
        }
        a{
          margin: .5%;
        }
      }
}
