
.container {
    width: 100%;
    
    background-color: #9D12AB ;

    .form {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% ;
        padding: 2em;
        

            .form__input {

                width: 50%;
                margin: 0.5em;

            }

            .text__area{
                @extend .form__input;
                resize: none;
            }

         }
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }



.iframe{

    width: 100%;
    height: 50vh;

}

.footer__contact{
    
    background-color: $color__gris;
    a{
        padding:0 10%;
        font-size: 140%;
    }

}