
$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($size) {

    @if map-has-key($breakpoints, $size) {

      @media (min-width: #{map-get($breakpoints, $size)}) {

        @content;
          }
      }
    }
@include breakpoint(md){.index__grid {

    grid-template-rows: 0.5fr 7fr .5fr .1fr;
    
}

.logo{

    width: 120px;
    display: flex;
    border-radius: 50px;
    overflow: hidden;

}

.nav ul li{

    text-decoration: none;
    padding: 8px;
    font-size: 24px;

}

.main__index iframe{

    height: 500px;

}

}

@include(lg){

    .logo{

        width: 150px;
        display: flex;
        border-radius: 20px;
        overflow: none;
    
    }
    
    .nav{ 
            ul{
            
                li{
    
                    text-decoration: none;
                    padding: 20px;
                    font-size: 26px;
                    
                }
            }
    
        }

}      

@include(xl){

    .index__grid {
     
        grid-template-rows: 0.5fr 3.5fr 0.1fr;
        grid-template-areas:"nav            nav"
                            "main__index    publicidad" 
                            "footer         footer";  
    }

    .logo{

        width: 150px;
        padding: 16px;
        display: flex;
        border-radius: 50px
    
    }
    
    .nav {
        
        ul  { 
        
            li  {
    
                text-decoration: none;
                padding: 30px;
                font-size: 26px;

            }
        }        
    
    }
    
    .main__index{
    
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        grid-area: main__index;
        background-color: darkgreen;
        font-size: 24px;

            iframe{
    
                width: 65%;
                padding: 25px;
        
            }
    
    }
    
    .publicidad__index{
    
        grid-area: publicidad;
        background-color: $color__publi;
    
    }
    
    .footer__index{
    
        grid-area: footer;
        background-color: $color__footer;
    
    } 
}
