.nav{

    display: flex;
    justify-content: space-between;
    background-color: $color__negro;
    background-image: url(../img.jpg);
    background-size: cover;
    width: 100vw;

    ul{
    
        list-style: none;
        display: flex;
        align-items: center;

        li{

            text-decoration: none;
            padding: 5px;
            font-size: 12px;
    
                a{

                    text-decoration: none;
                    color: $color__blanco;
                    transition: all .5s ease;
                    &:hover{

                        background-color: $color__gris;
                        border-radius: 50px;
                        opacity: 1;

                    }
    
                }
        }

    }
}

.logo{

    width: 35px;
    padding: 5px;
    display: flex;
    border-radius: 34px;
    overflow: hidden;

}



