$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($size) {

    @if map-has-key($breakpoints, $size) {

      @media (min-width: #{map-get($breakpoints, $size)}) {

        @content;
          }
      }
    }

@include breakpoint(lg) {
    
    .slide{
        margin: 250PX;
        img{

            height: 80vh;
    
        }
    }    
    
    

}

    
