$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($size) {

    @if map-has-key($breakpoints, $size) {

      @media (min-width: #{map-get($breakpoints, $size)}) {

        @content;
          }
      }
    }

@include breakpoint(sm) {
    
  .res__grid{
    
    .main__res{
                                    
      .slide{
    
        width: 100%;
        margin-top: 1%;       
          img{
                      
              height: 60vh;
        
          }
      }
        
    }
  }
}    

@include breakpoint(md) {
    
  .res__grid{

    .main__res{
                                
      .slide{

        width: 100%;
        margin-top: 1%;       
          img{
                  
              height: 60vh;
    
          }
      }
    
    }
  }
}        

@include breakpoint(lg) {
    
  .res__grid{
    .main__res{
                            
      .slide{
        
        margin-top: 1%;       
          img{
              
              height: 55vh;

          }
      }

  }

  .footer__res{
        a{
          padding: 0 3%;
      } 
      }
  }
}

@include breakpoint(xl) {
    
  .res__grid{

    .main__res{
                            
      .slide{

        margin-top: 3%;

          img{
              
              height: 60vh;

          }
      }

  }
  
  .footer__res{
    p{
      margin: .5%;
    }
    a{
      margin: .5%;
    }
  }
  }
}

    
