$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($size) {

    @if map-has-key($breakpoints, $size) {

      @media (min-width: #{map-get($breakpoints, $size)}) {

        @content;
          }
      }
    }


@include breakpoint(lg){
    .nos__grid{

      .footer__nos{

        a{
            padding: 0 3%;
        } 

    }
    }
    
       
} 


@include breakpoint(xl){
.nos__grid{
    
  .footer__nos{
    
    grid-area: footer__nos;
    background-color: $color__gris;

    p{
      margin: .5%;
    }
    a{
      margin: .5%;
    }

  } 
}
}    
    
    


