.trat__grid{


    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: .1fr 12fr .1fr;
    grid-template-areas:"nav        nav"
                        "maingrid maingrid"
                        "footer     footer";

}

.nav__bar{
    background-color: $color__navBar;
    grid-area: nav;
}

.main__grid{

    min-height: 100vh;
    grid-area: maingrid;
    padding: 10px;
    h1{
        margin-top: 1%;
    }

}

.trat{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-top: 10px;
    .trat__div{

        display: flex;
        flex-wrap: wrap;
        margin: 14px;
        img{
            padding: 5px;
            margin: 0;
        }

    }
    img{
        width: 150px;
    }

}


.footer__trat{

    grid-area: footer;
    background-color: $color__gris;
    p{
        margin: 1.5%;
    }
    a{
        padding:0 10%;
        margin: 1.5%;
        font-size: 140%;
    }
    

}