$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($size) {

    @if map-has-key($breakpoints, $size) {

      @media (min-width: #{map-get($breakpoints, $size)}) {

        @content;
          }
      }
    }

    @include breakpoint(lg){

        .trat{

            display: flex;
            flex-wrap: wrap;
            padding: 5px;
            margin-top: 150px 50px;
            .trat__div{

                display: flex;
                flex-wrap: nowrap;
                margin: 100px 10px;
         
            }
            p{
                margin: 20px ;
            }
            img{

                width: 150px;

            }

        }

        .footer__trat{

            a{
                padding: 0 3%;
            } 
        }

    }

    @include breakpoint(xl){

      .trat{

          display: flex;
          flex-wrap: wrap;
          padding: 5px;
          margin-top: 150px 50px;
          .trat__div{

              display: flex;
              flex-wrap: nowrap;
              margin: 100px 10px;
       
          }
          p{
              margin: 20px ;
          }
          img{

              width: 150px;

          }

      }

      .footer__trat{

        p{
            margin: .5%;
        }

      a{
        margin: .5%;
        }


    }
}