* html {

    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    min-width: 100vw;
    min-height: 100vh;
}

h1{

    text-align: center;

}

@import "colores.scss";

@import "navbar.scss";

@import "index.scss";

@import "indexMedia.scss";

