html, body {

    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    min-width: 100vw !important;
    overflow-x: hidden !important;

}

h1{

    text-align: center;

}

@import "colores";

@import "navbar";

@import "index";

@import "indexMedia";

@import "tratamientos";

@import "tratamientosMedia";

@import "sobreNosotros";

@import "sobreNosotrosMedia";

@import "resultados";

@import "resultadosMedia";

@import "contacto";

@import "contactoMedia"

