* html {

    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    min-width: 100vw;
    min-height: 100vh;
}


h1{

    text-align: center;

}

.nav{

    display: flex;
    justify-content: space-between;
    background-color: #000;
    background-image: url(./img.jpg);
    background-size: cover;
    width: 100%;

}

.logo{

    width: 35px;
    padding: 5px;
    display: flex;
    border-radius: 34px;
    overflow: hidden;

}

.nav ul{
    
    list-style: none;
    display: flex;
    align-items: center;

}

.nav ul li{

    text-decoration: none;
    padding: 5px;
    font-size: 10px;

}

.nav ul li a{

    text-decoration: none;
    color: #fff;

}

/* CSS INDEX */

.index__grid {

    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr 15%;
    grid-template-rows: 0.1fr 5fr 1fr .1fr;
    grid-template-areas:"nav            nav"
                        "main__index    main__index" 
                        "publicidad     publicidad"
                        "footer         footer"; 

}

.nav{

    grid-area: nav;
    width: 100%;

}

.main__index{

    grid-area: main__index;
    background-color: aqua;
    padding: 10px;

}

.main__index iframe{

    width: 100%;
    height: 300px;
   padding: 10px;

}

.publicidad__index{

    grid-area: publicidad;
    background-color: #9D12AB;
    padding: 10px;

}

.footer__index{

    grid-area: footer;
    background-color: #04f804;

}

/* CSS DE TRATAMIENTOS */

.trat__grid{

    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 150px 1fr 50px;
    grid-template-areas:"nav        nav"
                        "main__grid main__grid"
                        "footer     footer";

}

.nav{

    grid-area: nav;
    width: 100%;

}

.main__grid{

    height: 100vh;
    grid-area: main__grid;
    background-color: #9D12AB;

}

.trat{

    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 15px;

}

.trat__div{

    display: flex;
    margin: 14px;
     
   
}

.trat img{

    width: 150px;

}

.footer__trat{

    grid-area: footer;
    background-color: #000;

}

/* CSS SOBRE NOSOTROS */

.nos__grid {

    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: .1fr 3fr .1fr;
    grid-template-areas:"nav            nav"        
                        "main__nos      main__nos"  
                        "footer__nos    footer__nos";

}

.nav{
    
    grid-area: nav;

}

.main__nos {

    grid-area: main__nos;
    background-color: aqua;

}

.flex__nos{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.flex__nos__item{

    margin: 10px;
    padding: 10px;

}

img:nth-child(1){

    display: block;
    margin: auto;

}

.flex__nos__item img{

   width: 150px;
   object-fit: cover;

}

.flex__nos h2{

    text-align: center;
    font-size: 25px;
    margin-left: 15px;
    
}

.flex__nos p{

    margin: 10px;
    font-size: 16px;

}

.footer__nos{
    
    grid-area: footer__nos;
    background-color: darkred;

}

/* CSS DE CONTACTO */

.container{

    display: flex;
    background-color: #9D12AB;

}

.form{

    width: 300px;

}

.form__div{

    padding: 7px 0px;
    margin: 5px;

}

.form__input{

    width: 100%;
    
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

.form__textarea{

    min-height: 130px;
    resize: none;
    width: 100%;
}

.iframe{

    width: 100%;
    height: 53vh;

}

/* MEDIA INDEX */

@media screen and ( min-width: 768px) {

    .index__grid {

        grid-template-rows: 0.5fr 7fr .5fr .1fr;
        
    }

    .logo{

        width: 120px;
        display: flex;
        border-radius: 50px;
        overflow: hidden;
    
    }
    
    .nav ul li{
    
        text-decoration: none;
        padding: 8px;
        font-size: 24px;
    
    }

    .main__index iframe{

        height: 500px;
    
    }
       
}

@media screen and (min-width: 992px ) {

    .logo{

        width: 150px;
        display: flex;
        border-radius: 20px;
        overflow: none;
    
    }
    
    .nav ul li{
    
        text-decoration: none;
        padding: 20px;
        font-size: 26px;
    
    }
    
}

@media screen and ( min-width: 1200px ) {

    .index__grid {
     
        grid-template-rows: 0.5fr 3.5fr 0.1fr;
        grid-template-areas:"nav            nav"
                            "main__index    publicidad" 
                            "footer         footer";  
    }

    .logo{

        width: 150px;
        padding: 16px;
        display: flex;
        border-radius: 50px
    
    }
    
    .nav ul li{
    
        text-decoration: none;
        padding: 30px;
        font-size: 26px;
    
    }
    
    .main__index{
    
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        grid-area: main__index;
        background-color: darkgreen;
        font-size: 24px;
    
    }
    
    .main__index iframe{
    
        width: 65%;
        padding: 25px;
    
    }
    
    .publicidad__index{
    
        grid-area: publicidad;
        background-color: blueviolet;
    
    }
    
    .footer__index{
    
        grid-area: footer;
        background-color: crimson;
    
    }     
}

/* MEDIA SOBRE NOSOTROS */

@media screen and (min-width: 768px) {

    
    .flex__nos__item{

        margin: 20px 0 ;
        padding: 10px;
    
    }
    
}

@media screen and (min-width: 1200px ) {

    .nos__grid {

    grid-template-columns: 300px 1fr;
    grid-template-rows: 0.1fr 3fr .1fr;
  

}
    
    .main__nos {
    
        background-color: aqua;
    
    }
    
    .main__nos h1{
    
        font-size: 35px;
    
    }
    
    .flex__nos{
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    
    .flex__nos__item{
    
        margin: 30px;
        display: flex;
    
    }

    .flex__nos__item img{
    
        object-fit: cover;
        width: 300px;
    
    }
    
    .flex__nos h2{
    
        font-size: 35px;
        margin-left: 75px;
        
    }
    
    .flex__nos p{
    
        margin: 30px;
        font-size: 26px;
    
    }
    
    .footer__nos{
    
        background-color: darkred;
    
    }
    
}